* {
  box-sizing: border-box;
}

html {
  font-family: Impact-Regular, sans-serif;
  /* color: var(--clrPrimaryBase); */
}

body {
  margin: 0;
  font-family: Cool-Unicorn;
}

img {
  width: 100%;
}

canvas {
  max-width: 100%; /* Ensures canvas doesn't exceed the width of its container */
  height: auto; /* Maintains aspect ratio */
}
