.btn-toggle-menu {
  display: none;
}

/* Media query for mobile devices */

@media (max-width: 780px) {
  :root {
    /* --page-margins: 20px; */
  }

  .main-header {
    position: relative;
    /* max-width: 500px; */
  }

  .meme-text {
    width: 100%; /* Adjust width for smaller screens */
  }

  .section-editor {
    flex-direction: column;
    gap: 10px;
  }

  .section-gallery,
  .section-allmemes {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  /* Hamburger */
  .main-nav-list {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  body.menu-open .main-nav-list {
    display: flex;
  }

  .btn-toggle-menu {
    display: block;
    cursor: pointer;
    font-size: 24px; /* Adjust size as needed */
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .main-nav > * {
    flex-shrink: 0;
  }

  .main-nav {
    min-width: 100%;
    max-width: 100%;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.15);

    position: absolute;
    left: 0;
    top: 70px;
    background: linear-gradient(to bottom, #4a90e2 0%, #008080 100%);

    z-index: 10;
    text-align: center;
    border-radius: 10px;
  }

  .main-nav-list a {
    padding: 10px;
    width: 100%;
    display: block;
  }

  .img-logo {
    width: 50px;
    height: auto;
  }
}

@media (max-width: 393px) {
  :root {
    /* --page-margins: 25px; */
  }
}
