:root {
  /* color */
  --clrPrimary1: #b4ad9e;
  --clrHeader: #4a90e2;
  --clrLinkHover: #ffd700;
  --clrPrimaryBase: #626262;
  --clrPrimary-1: #000;
  --clrBgColor: #fefefe;

  /* layout  */
  --page-margins: 20px;
  --card-layout-margin: 80px;
  --card-layout-margin-center: 60px;

  --l: 1060px;
  --m: 800px;
  --s: 600px;
}
