.main-header {
  grid-column: 2/3;
  background-color: var(--clrHeader);
  padding: 10px 20px;
  margin: 25px 0;
  border-radius: 10px;
}

.img-logo {
  width: 200px;
  height: 200px;
}

.main-nav-list li a {
  font-size: 3rem;
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.main-nav-list li a:hover {
  color: var(--clrLinkHover);
}
